.footer-body
    background-color: rgba(0,0 ,0 ,0.9 )


.footer    
    b
    height:auto
    @extend .container
    @include d-flex(column,center,center)
    &__header
        &_h1
            @include d-flex(column,center,center)
            color: coral
            height: 10vh
        &_p
            @include d-flex(column,center,center)
            font-size: 20px
            color: rgba(212, 210, 233, 0.9)
            height: 10vh
        
    
        
    &__date
        @include d-flex(column,center, center)
        width:100%
        height:100%
        border-bottom: 1px solid white 
            
        &_box
            @include d-flex(column,center, center)
            padding: 20px
            width:100% 
            height:auto
            text-align: center
            &--img
                width: 200px
                height: 200px
                border-radius: 50%
                background-image: url('../images/comp.png'), 
                background-size: cover
            &--head
                color:  rgba(234, 255, 238, 0.9)
                text-align: center
            &--about
                color: white
            &--list
                color:  rgba(164, 216, 216, 0.9)
                margin: 20px 0 
                li
                    padding: 10px
                    font-size: 20px
    &__end
        height:auto
        width: 100%
        padding: 20px 0
        &_txt
            @include d-flex(row,center,center)
            height: 35px
            color: white
        &_smm
            @include d-flex(row,center,center)
            padding: 20px 0
            &--item
                margin: 0 20px
                width: 50px
                height: 50px
                border: 1px solid white
                border-radius: 50%
                font-size: 25px
                @include d-flex(row, center , center)
                cursor: pointer
                color: white
            &--item:hover
                 background-color: rgba(0,0 ,0 ,0.6 )
                 color: coral
                 font-size: 40px
                 box-shadow: 0 0 10px coral
            &--item:active
                font-size: 30px
                background: rgba(198, 236, 27, 0)  
      

